.LadoEsquerdo {
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 20px 20px;
}

.icone {
   font-size: 30px
}

.icone svg {
    width: 30px;
}

.menu-principal {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;;
    height: 60vh;
    justify-content: space-around;
}

.menu-principal span {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px;
}


